:root {
    --color-text: gainsboro;
    --color-red-danger: rgb(207, 8, 8);
}

html {
    height: 100%;
}

main {
    height: 100vh;
}

body {
    /*
    background-attachment: fixed;
    background: rgb(72, 95, 219);
    background: radial-gradient(circle, rgba(72, 95, 219, 1) 18%, rgba(4, 33, 205, 1) 100%, rgba(66, 88, 217, 1) 100%);
    */
    background-color: rgb(121, 224, 218);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    /* 'Times New Roman', Times, serif */

}

.user {
    background-color: azure;
}

.my-trnsp-btn {
    border: none;
    background: transparent;
}