<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="container-fluid">

        <div class="row">
            <div class="col-10">
                {{author}}
            </div>

            <div class="col-2">
                <i class="fas fa-times"> Remove </i>
            </div>

        </div>

        <div class="row">
            <div class="col">
                {{content}}
            </div>

        </div>
    </div>


</body>

</html>

<!--

<form @submit.prevent="login">
    <div class="row mt-2 mb-3">
        <div class="col">
            <input type="text" class="form-control w-25" v-model="identifier" placeholder="identifier" />
        </div>
    </div>

    <div class="row mt-2 mb-5">
        <div class="col ">
            <button class="btn btn-dark"> Login </button>
        </div>
    </div>
</form>
-->